/* style.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Navigation styles */
nav {
    background-color: #444;
    padding: 10px;
    writing-mode: vertical-lr; /* Vertical text from top to bottom */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}


/* About section styles */
#About {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#About img {
    max-width: 100%;
    border-radius: 50%;
}

/* Services section styles */
#Services {
    padding: 20px;
    background-color: #f9f9f9;
}

/* Testimonials section styles */
#Testimonials {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Portfolio section styles */
#Portfolio {
    padding: 20px;
    background-color: #f9f9f9;
}
